html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #0a121a;
    font-family: "VT323", sans-serif; /* Pixelated font for retro feel */
    color: #0a121a;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Styles for the deck of cards */
.deck {
    width: 640px;
    min-height: 640px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #0a121a;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #000;
    cursor: default;
}

.deck .card-invert.open {
    transform: rotateY(0);
    background: #000;
    cursor: default;
}

.deck .card.match {
    cursor: default;
    background: #000;
    font-size: 33px;
}

.deck .card .svg-img {
    display: none;
    width: 100px;
    pointer-events: none;
}

.deck .card.open .svg-img,
.deck .card.match .svg-img {
    display: flex;
}


/* Styles for the Score Panel */
.score-panel {
    text-align: center;
    margin: 0 1em 0.2em;
    display: flex;
    font-size: 1.3em;
}

.score-panel .stars,
.modal-stars .stars {
    margin: 0;
    padding: 0;
    display: inline-flex;
    margin: 0 5px 0 0;
}

.score-panel .stars li,
.modal-stars .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* Styles for the modal */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 140px;
    left: 50%;
    top: 0;
    margin-left: -320px;
    margin-top: 160px;
    width: 640px;
    height: 620px;
    overflow: auto;
    font-size: 1.5em;
    background-color: #899e59
}

/* Modal Content */
.modal-content {
    background-color: #899e59;
    color: #0a121a;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 5px solid #0a121a;
    width: 100%;
}

/* The Close Button */
.close-modal {
    color: #0a121a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The "Play Again!" button */
.modal-restart {
    background-color: #899e59;
    border: 5px solid #0a121a;
    color: #0a121a;
    padding: 15px 32px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: "VT323", sans-serif;
    font-size: 2em;
}

.modal-restart:hover,
.modal-restart:focus {
    color: #899e59;
    background-color: #0a121a
}

.rating {
    display: inline;
}


/* Game Kid Styling */
.handheld {
    padding: 50px 25px;
    background-color: #c2bebb;
    border-radius: 25px;
    border-bottom-right-radius: 150px;
    margin: 20px 0;
    font-size: 1.5em;
}

/* Contains "Matched GAME KID" text */
.branding {
    margin: 0 0 10px;
}

/* Contains "Matched" text */
.company {
    font-family: "Saira", sans-serif;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    color: #31228b;
}

/* Contains "GAME KID" text */
.product {
    font-family: "Cabin", sans-serif;
    font-size: 2em;
    letter-spacing: -0.05em;
    color: #31228b;
}

/* "Screen" of the Game Kid */
.screen {
    background-color: #899e59;
    border-width: 70px 110px;
    border-style: solid;
    border-color: #8f8d92;
    border-radius: 25px;
    border-bottom-right-radius: 125px;
    padding: 16px;
}


/* Styles for the fake Game Kid controls */
.controls {
    display: flex;
    margin: 0 2em;
}

.flex-item {
    flex: 1;
}